<div class="container1">
        <center>
                <div class="content">
                   <div class="primg">
                       <img class="img1" src="/images/malepro.png">
                   </div>
                   <div class="profile">
                       <div class="name">
                         
                          <p class="i">Name :</p>
                          <p class="ii">{{data.name}}</p>
                       </div>
                       <div class="email">
                       
                           <p class="i">Email :</p>
                          <p class="ii">{{data.email}}</p>
                       </div>
                       <div class="email">
                         
                           <p class="i">Mobile :</p>
                          <p class="ii">{{data.mobile}}</p>
                       </div>
                       <div class="email">
                          
                           <p class="i">Enr No:</p>
                          <p class="ii">{{data.enrollment}}</p>
                       </div>
                       <div class="email">
                         
                           <p class="i">Semester</p>
                        
                           <p class="ii">{{data.semester}}</p>
                       </div>
                        <div class="email">
                          
                           <p class="i">Department</p>
                           
                           <p class="ii">{{data.department}}</p>
                       </div>
                       <div class="email">
                      
                           <p class="i">Gender:</p> 
                           <p class="ii">{{data.gender}}</p>
                       </div>
                   </div>
                </div>
                <div class="buttu">
                       <button class="butt">Edit Profile
                        <i class="fa-pencil" aria-hidden="true"></i>
                       </button>
                   </div>
        </center>
    </div>